h1{
    color: black;
}

.home{
    background-position:bottom;
    /*background-color: rgba(0, 255, 255, 0.185);*/
    background-attachment: fixed;
    background: linear-gradient(0deg, rgba(59, 21, 57, 0.322) 0%, #120e1518 50%, rgba(7, 114, 82, 0.322) 100%);

}

.graphs{
    border: 0.5px;
    border-color: rgba(0, 0, 0, 0.055);
    border-style: solid;
    background-color: white;
    margin-bottom: 2vh;    
    height: 42vh;
    margin-right: 2vw;
    margin-top: 2vh;
    box-shadow: 20px 20px 30px -20px rgba(5, 1, 1, 0.85);
    border-radius: 33px;
    overflow: auto;
    /*background: linear-gradient(0deg, white 20%, #120e1518 50%, rgb(255, 255, 255) 80%);*/
}

.side{
    border: 0.5px;
    border-color: rgba(0, 0, 0, 0.055);
    border-style: solid;
    background-color: white;
    margin-bottom: 2vh;    
    height: 86vh;
    margin-left: 2vw;
    margin-top: 2vh;
    box-shadow: 20px 20px 30px -20px rgba(5, 1, 1, 0.8);
    border-radius: 33px;
    /*background: linear-gradient(0deg, white 20%, #120e1518 50%, rgb(255, 255, 255) 80%);*/
}

.logo2{
    width: 75%;
    
}

#buttonStart{
    color: #ffffff;
    width: 15vw;
    min-height: fit-content;
    height: 6vh;
    background-color: rgba(59, 21, 57);
    border: none;
    font-size: small;       
    border-radius: 5%;
}

#buttonStop{
    color: #ffffff;
    width: 15vw;
    min-height: fit-content;
    height: 6vh;
    background-color: rgba(7, 114, 82);
    border: none;
    font-size: small;       
    border-radius: 5%;
}

#buttonStart:hover {
    cursor: pointer;
    color: #ffffff;
    background-color: #1d1820
}

#buttonStop:hover {
    cursor: pointer;
    color: #ffffff;
    background-color: rgb(2, 95, 67);
}

.buttonSniff{
    padding: 1vw;
}