#appbar_button{
    
    margin-right: 0vw;
    margin-left: auto;
    float: none;
    border-radius: 15%;
}

#appbar{
    color: #ffffff;
    background-color: #120e15;
    min-width: fit-content;
}

#navButton {
    color: #ffffff;
    min-width: fit-content;
    width: 8vw;
    height: 6vh;
    background-color: #120e15;
    border: none;
    font-size: medium;
    border-radius: 10%;
}

#navButton:hover {
    cursor: pointer;
    color: #ffffff;
    background-color: #1d1820
}


#appbar::-webkit-scrollbar {
    display: none;
  }

#info_button, #home_button,  #news_button, #contact_button, #siout, #nolog{
    color: #0ab200;
    background-color: transparent;
    border-color: #230043;
    font-size: 0.8vw;
}

#noout, #silog{
    display: none;
}